html {
  color: #323232;
  font-size: 62.5%;
  letter-spacing: 0.01em;
  font-family: 'メイリオ', 'Meiryo', sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

a {
  display: block;
  color: #323232;
  font-size: 1.8rem;
}

a:hover {
  color: #ffffff;
  background-color: rgba(110, 115, 130, 0.748);
}

textarea {
  resize: none;
  font-size: 1.1rem;
  height: 200px;
}

li {
  list-style: none;
}

.btn {
  padding: 10px 50px 10px 50px;
  font-size: 2rem;
  background: #595959;
  color: #ffffff;
}

.err {
  margin: 14px 0;
  color: #d82626;
}

h1 {
  font-size: 2.4rem;
  margin-bottom: 0px;
}

h2 {
  font-size: 2.1rem;
  margin-bottom: 0px;
}

h3 {
  font-size: 2rem;
  margin-bottom: 0px;
}

h4 {
  font-size: 1.7rem;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.6rem;
}

table {
  table-layout: fixed;
}

th {
  text-align: right;
  vertical-align: middle;
  width: 0;
  white-space: nowrap;
}

td {
  padding: 10px;
  width: auto;
}

label {
  font-size: 1.7rem;
}

.back {
  font-size: 1.6rem;
}

textarea {
  resize: none;
  font-size: 2rem;
  height: 200px;
}

span {
  font-size: 1.6rem;
}

th,td {
  padding: 5px;
  font-size: 1.7rem;
}

.err-txt {
  margin: 3px 0;
  color: #ff0000;
}

.form-text {
  width: 100%;
  height: 50px;
  font-size: 1.8rem;
  line-height: 2;
  padding: 2px;
  margin: 5px 0px 5px 0px;
  border: #595959 1px solid;
  border-radius: 8px;
}

/* ヘッダー */

.header {
  background: rgb(255, 255, 255);
  position: sticky;
  left: 0;
  top: 0;
  z-index: 10;
}

.header__inner {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__inner nav ul {
  margin-bottom: 0px;
  display: flex;
  align-items: center;
}

.header__inner nav ul li {
  padding: 20px;
}

.logout {
  border: none;
  background: none;
  text-decoration: underline;
  font-size: 1.8rem;
}

.logout:hover {
  color: #ffffff;
  background-color: rgba(46, 46, 46, 0.748);
}

/* 運営者ログイン */
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_id, .login_password {
  margin: 10px;
}

.login_id label, .login_password label {
  width: 50%;
}


/* 商品管理 */
.container {
  background-color: #e8e7e7;
  margin: 100px;
  padding: 50px;
  width: auto;
}

.container_form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.addition_detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.small {
  font-size: 1.3rem;
}

.entry {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goods_image {
  position: relative;
  margin: 10px;
}

.goods_image .edit-btn {
  position: absolute;
  top: 15px;
  left: 8px;
  line-height: 2;
  background-color: #ffffff;
  padding: 3px;
  border: #595959 1px solid;
  border-radius: 8px;
}

.goods_image .delete_image-btn {
  position: absolute;
  top: 15px;
  right: 8px;
  line-height: 2;
  color: #ffffff;
  background-color: #595959;
  padding: 3px;
  border: #595959 1px solid;
  border-radius: 8px;
}

.goods_image img {
  width: 300px;
}

.goods_addition {
  margin: 10px;
}

.setting_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.setting {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price .setting {
  margin: 10px;
  text-align: right;
  padding: 5px 20px 5px 0px;
}

.edit {
  background-color: #e8e7e7;
  margin: 100px;
  padding: 50px;
}

.edit_form img {
  width: 200px;
}

.goods {
  border-top: 1px solid #323232;
  display: flex;
  align-items: center;
}

.goods td {
  width: 800px;
}

.price {
  display: flex;
  align-items: center;
}

.size-list, .color-list {
  display: flex;
  align-items: center;
}

.size, .color {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 70%;
}

.size .form-text, .color .form-text {
  width: auto;
}

.list {
  display: flex;
  align-items: center;
  padding: 5px;
}

.label {
  padding: 10px;
  font-size: 2rem;
}

.goods_detail {
  width: 80%;
}

.large {
  height: 300px;
}

.delete_goods {
  font-size: 2rem;
  padding: 5px 5px 0px 5px;
  background: #ffffff;
  color: #323232;
  border: none;
  border: double #323232;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goods_edit {
  margin: 10px;
}

.goods_edit .btn {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}

/* サイズ・カラー管理 */
.size_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 商品削除 */
.note {
  margin-bottom: 20px;
  color: #d82626;
}

.back-delete {
  display: flex;
  justify-content: center;
}

.back-delete .btn {
  margin: 10px;
}

.back {
  color: #ffffff;
  text-decoration: none;
  align-content: center;
}

/* 発送管理 */
.result {
  font-size: 2.5rem;
  padding: 20px;
}

.order_list {
  width: 100%;
  flex-direction: column;
}

.next {
  font-size: 2.5rem;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.status_detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.select {
  height: 50px;
  font-size: 1.8rem;
}

.form-status {
  height: 50px;
  display: flex;
  align-items: center;
}

.status {
  margin-right: 30px;
}

.order {
  border-top: 1px solid #323232;
  padding-top: 10px;
}

.order_detail {
  display: flex;
}

.order_content {
  width: 100%;
}

.add {
  text-align: center;
  font-size: 2.2rem;
}

.order_content .delete {
  margin: auto;
}

.order_state .price {
  font-size: 2.5rem;
  font-weight: bold;
}

.order_state td {
  padding: 10px;
}

.order_state {
  margin-left: 20px;
}

.order_edit .btn {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}

.number{
  width: 30px;
}

.cancel {
  margin-bottom: 20px;
  text-align: center;
}

/* キャンセル */
.customer {
  width: 100%;
  margin: 10px;
}

.content {
  width: 100%;
  margin: 10px;
}
